<div class="container">
  <div class="d-flex justify-content-between">
    <h2>My Awesome Movie Entertainement Listings</h2>
    <%= link_to '', new_list_path, class: "h2 far fa-plus-square" %>
  </div>


  <div class="row">
    <% if @lists.length > 0 %>
    <% @lists.each do |list| %>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src=''  class="card-img-top" alt='<%= list.name %>'>
        </div>
      </div>
    <% end %>
  <% end %>


  </div>
</div>
