<div class="container">
  <div class="d-flex align-items-center mb-3">
    <h2>A small but concise selection of awesome movies.</h2>
    <%= link_to '', new_movie_path, class: "h2 fas fa-plus ml-3 p-1 btn btn-lg btn-secondary" %>
  </div>

  <div class="row" style="gap: 1em 1em;">
    <% if @movies.length > 0 %>
    <% @movies.each do |movie| %>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <%= link_to image_tag(movie.poster_url, class: 'card-img-top', alt: movie.title), movie_path(movie) %>

        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
