<div class='navbar_gray' style='background-color: rgba(255,255,255,0.1)'>
  <h4><%= link_to 'The Micro Library of Movie Lists', root_path, class: 'title' %></h4>

  <div class=''>
    <%= link_to 'My Lists', lists_path, class: 'btn btn-info' %>
    <%= link_to 'My Movies', movies_path, class: 'btn btn-info' %>
  </div>
</div>
