<div class='navbar-wh' style='background-color: rgba(255,255,255,0.1)'>
  <h4><%= link_to 'MiLi MoLi', root_path, class: 'nav-title' %></h4>

  <div class=''>
    <%= link_to 'My Lists', lists_path, class: 'btn btn-secondary' %>
    <%= link_to 'My Movies', movies_path, class: 'btn btn-secondary' %>
  </div>
</div>
