<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light d-flex justify-content-between">

  <a class="navbar-brand" href="#">The Mico Library of Awesome Movie Lists</a>

  <div class="">
    <%= link_to 'My Lists', lists_path, class: "btn btn-secondary" %>
    <%= link_to 'My Movies', movies_path, class: "btn btn-secondary" %>
  </div>
</nav>
